ul, ol, dl {
	margin: 0 0 30px 0;
	padding-left: 0;
	&:last-child {
		margin-bottom: 0;
	}
}

ul, ol {
	p + & {
		margin-top: -10px;
	}
}

ul,
ol {
	margin-left: 1em;
	font-weight: 400;

	&[id],
	&[class],
	&.inherit-list {
		font-weight: inherit;
	}
}

ul {
	list-style: disc;
}

li + li {
	margin-top: 6px;
}

li > ul,
li > ol {
	margin-top: 6px;
	margin-bottom: 0;
}

dt {
	float: left;
	clear: left;
	margin-right: 5px;
	font-weight: 700;
}

dd {
	margin-left: 0;
}

dt, dd {
	&:not(:first-of-type) {
		margin-top: 11px;
	}
}

/* Inline list */
ul.inline-list {
	@include reset-list;
	li {
		display: inline-block;

		&,
		& + li {
			margin-top: 0;
		}
	}
}