/* #Magnific Popup*/
.mfp-iframe-holder .mfp-close:hover,
.mfp-image-holder .mfp-close:hover{
	color: $regular_accent_color_1;
}

.mfp-iframe-holder .mfp-arrow:hover:before,
.mfp-iframe-holder .mfp-arrow:hover:after,
.mfp-image-holder .mfp-arrow:hover:before,
.mfp-image-holder .mfp-arrow:hover:after{
	background-color: $regular_accent_color_1;
}

/* #Swiper navigation*/
.swiper-button-next,
.swiper-button-prev,
.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_1;
}

/*Contact block*/
.contact-block {}