<div class="services-item-inner">

	<div class="service-title">
	    %%ICON%%
	    %%TITLE link="true" wrap="h3"%%
	</div>

	<div class="services-item-floated-content">
		%%CONTENT%%
		%%BUTTON class="btn btn-link"%%
	</div>

</div>
