/*--------------------------------------------------------------
## Icons
--------------------------------------------------------------*/
%font-awesome-icon {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin font-awesome-icon {
	@extend %font-awesome-icon;
}

%iconsmind{
	display: inline-block;
	font-family: 'iconsmind';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	text-rendering: auto;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin iconsmind {
	@extend %iconsmind;
}