.cherry5-ui-button.ui-button {
	height: auto;
}

.cherry-ui-colorpicker-wrapper .wp-picker-container.wp-picker-active {
	z-index: 1050;
}

#style-switch-confirm ~ .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: none;

	.ui-button {
		margin-left: 0;
	}
}