%%PHOTO wrap="div" class="team-listing_photo"%%
%%NAME wrap="h4" class="team-listing_name accent-text" link="true"%%
%%POSITION wrap="h6" class="team-listing_position"%%
%%DESC crop="yes" wrap="div" class="team-listing_desc"%%
%%SOCIALS wrap="div" class="team-listing_socials"%%
%%BUTTON class="btn btn-xs btn-primary-transparent"%%