.subscribe-block__input { color: $regular_text_color; }

.subscribe-block__input-wrap i {
	color: @lighten($regular_text_color, 25%);
}

.invert .subscribe-block .subscribe-block__submit {
	background-color: $invert_text_color;
	color: $regular_accent_color_1;
}

.invert .subscribe-block .subscribe-block__submit:hover {
	background-color: $regular_accent_color_2;
	color: $invert_text_color;
}

.invert .subscribe-block .subscribe-block__error {
	color: $invert_text_color;
}