<div class="cherry-projects-single__container">
	<div class="cherry-projects-single__media">
		%%AUDIOLIST%%
	</div>
	<div class="cherry-projects-single__header">
		%%TITLE%%
	</div>
	<div class="cherry-projects-single__content">
		%%CONTENT%%
	</div>
	<div class="cherry-projects-single__additional">
		%%SKILLSLIST%%
		%%DETAILSLIST%%
	</div>
</div>