<div class="project-terms-media">
      	%%TERMIMAGE%%
      	<div class="hover-content project-terms-content invert">
      		%%TERMNAME%%
      		%%TERMDESCRIPTION number_of_words="10"%%
      		%%TERMATTACHMENTS%%
      	</div>
      </div>