.cs-instagram {

	@include full-width-area() {
		padding: 0;

		.widget-title {
			padding: 0 $grid-gutter-width/2;
			text-align: center;
		}
	}

	&__items {
		display: flex;
		flex-flow: row wrap;
		margin-left: -5px;
		margin-right: -5px;

		@include full-width-area() {
			margin: 0;
		}
	}
	&__item {
		position: relative;
		min-height: 1px;
		padding: 5px;
		flex: 0 0 25%;
		max-width: 25%;

		@include full-width-area() {
			padding: 0;
			@include media-breakpoint-up(md) {
				flex: 0 0 12.5%;
				max-width: 12.5%;
			}
		}
		@include contents-area() {
			@include media-breakpoint-up(lg) {
				flex: 0 0 16.666%;
				max-width: 16.666%;
			}
		}

	}
	&__link {
		position: relative;
		overflow: hidden;
		display: block;
		&:hover {
			.cs-instagram__cover {
				&:before {
					opacity: 1;
					transform: scale(1);
				}

				&:after {
					transform: scale(1);
				}
			}
		}
	}
	&__img {
		display: inline-block;
		vertical-align: top;
		width: 100%;
	}
	&__cover {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		color: $color__white;
		text-align: center;
		opacity: 1;
		transition: all .1s ease-out;
		background-color: transparent;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: 0;
			transform: scale(.5);
			transition: all .1s ease-out;
		}

		&:after {
			@extend %font-awesome-icon;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			content: '\f06e';
			font-size: 18px;
			width: 18px;
			height: 18px;
			text-align: center;
			margin: -9px 0 0 -9px;
			transform: scale(0);
			transition: all .1s ease-out;
			line-height: 1;
		}
	}
	&__date,
	&__caption {
		text-align: center;
		display: block;
		font-size: 12px;
		line-height: 1.5;
		* + & {
			margin-top: 5px;
		}
	}
}